{% extends "analyzer/base.html" %}
{% block title %}Error{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <h4>Error</h4>
            </div>
            <div class="card-body">
                <p class="text-danger">{{ error }}</p>
                <a href="{% url 'upload' %}" class="btn btn-primary">Try Again</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}